svg {
    width: 100vw;
    height: 50vh;
    margin: auto;
    background-color: var(--primaryBackground);
}

@keyframes hover-reveal {
    to {
        stroke-opacity: 20%;
    }
}

@keyframes path-reveal {
    to {
        stroke-opacity: 60%;
    }
}

circle.path-crd {
    fill: var(--primaryPath);
    fill-opacity: 0.6;
    stroke: var(--primaryStroke);
    stroke-opacity: 20%;
    animation: path-reveal 0.2s ease-in forwards;
}

circle.hover-crd {
    fill: var(--primaryPath);
    fill-opacity: 0.2;
    stroke: var(--primaryStroke);
    stroke-opacity: 0%;
    animation: hover-reveal 0.2s linear forwards;
}

circle.current-crd {
    fill: var(--primaryCurrent);
}

circle.target-crd {
    fill: var(--primaryGoal);
    fill-opacity: 0.6;
    stroke: rgb(0, 0, 0);
}

.path-vector {
    stroke: var(--primaryStroke);
    stroke-dashoffset: 1000;
    stroke-opacity: 20%;
    animation: path-reveal 0.2s ease-in forwards;
}

.hover-vector {
    stroke: var(--primaryStroke);
    stroke-opacity: 0%;
    animation: hover-reveal 0.2s linear forwards;
}

.tick line {
    stroke: var(--primaryGrid);
    stroke-dasharray: 0.2vmax;
}

line.bold-tick {
    stroke-dasharray: 0;
}

line.cross-axis {
    stroke-width: 0.25vmax;
    stroke-dasharray: none;
}

.vertical-axis line.cross-axis {
    stroke: var(--primaryXAxis);
    stroke-opacity: 30%;
}

.horizontal-axis line.cross-axis {
    stroke: var(--primaryYAxis);
    stroke-opacity: 30%;
}

text {
    font-size: 14px;
    fill: var(--primaryText);
}

.vertical-axis text {
    text-anchor: middle;
}

.horizontal-axis text {
    text-anchor: end;
}