@import '../../../../theme/themes.scss';

.btn-panel {
    height: 40%;
    background-color: #abb9c2;
    border: #c1c5c9 0.5% solid;
    border-radius: 2%;
    box-sizing: border-box;
}

.btn-panel .btn-panel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: cssVar(heightPercentage);
    padding-top: 0.5%
}