@import '../../../../theme/themes.scss';

.btn-panel {
    height: 38vh;
    margin-bottom: 2vh;
    background-color: #abb9c2;
    border: #c1c5c9 0.5vh solid;
    border-radius: 2vh;
}

.btn-panel .btn-panel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: cssVar(heightPercentage)
}