@import '../../../../theme/themes.scss';

.btn-panel {
    height: 40%;
    margin-top: 5%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    box-sizing: border-box;
}

.btn-panel .btn-panel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: cssVar(heightPercentage);
    padding-top: 0.5%
}