@function cssVar($varName) {
    @return var(--#{$varName});
}

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        main.#{$theme}-theme & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

$themes: (
    default: (primaryText: #30323D,
        secondaryText: gray,
        primaryBackground: #EBF2FA,
        primaryGrid: #DEE5ED,
        primaryXAxis: #009F93,
        primaryYAxis: #FFDB60,
        primaryCurrent: #FC7651,
        primaryPath: #c0b5c9,
        primaryWarning: #F9546B,
        primarySuccess: #42CFCA,
        primaryStroke: black,
        primaryButton: #c8cdd1,
        secondaryButton: #AAB0B9,
    ),
);