main.basic-theme {
    --primaryText: #30323D;
    --secondaryText: gray;
    --primaryBackground: #EBF2FA;
    --primaryGrid: #DEE5ED;
    --primaryXAxis: #5DA271;
    --secondaryXAxis: #7DB58D;
    --primaryYAxis: #D16666;
    --secondaryYAxis: #CB5252;
    --primaryCurrent: #4C6085;
    --primaryPath: #30323D;
    --primaryGoal: #E89C21;
    --primaryStroke: black;
}