@function cssVar($varName) {
    @return var(--#{$varName});
}

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        main.#{$theme}-theme & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

$themes: (
    default: (primaryText: #30323D,
        secondaryText: gray,
        primaryBackground: #EBF2FA,
        primaryGrid: #DEE5ED,
        primaryXAxis: #5DA271,
        // secondaryXAxis: #7DB58D,
        primaryYAxis: #999dcf,
        // secondaryYAxis: #CB5252,
        primaryCurrent: #E89C21,
        primaryPath: #c0b5c9,
        primaryGoal: #e83521,
        primaryStroke: black,
        primaryButton: #ABB9C2,
        secondaryButton: #AAB0B9,
    ),
);