

.button {
  --button-height: 5vh;
  --color-bg:#abb9c2;
  --color-bg-light:#c1c8cd;
  --color-bg-dark: #c1c5c9;
  --color-overlay-light: #B9B5AA;;
  --color-overlay-medium: #929ca3;
  --color-overlay-dark: #cdd4da;
  --color-tab-focus: #c8cbcd;

  user-select: none;
  width: var(--widthPrecentage);
}

.button {
  position:relative;
  background: var(--color-bg);
  height:var(--button-height);
  border-radius:calc( var(--button-height) / 2);
  border:0;
  font-weight:800;
  color:var(--primaryText);
  line-height: var(--button-height);
  text-align: center;
  cursor:pointer;
  margin: 1%;
  letter-spacing:.05em;
  transition: all 200ms ease;
  box-shadow:
    -1px  -1px 1px var(--color-bg), 
    0 0 0 4px var(--color-overlay-medium), 
    1px  1px 1px var(--color-bg-dark), 
    inset .0 .0 .0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light) 
}

.button::-moz-focus-inner{
  outline:none;
  border:none;
}

.button:focus{
  outline:none;
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), 
    0 0 0 4px var(--color-tab-focus), 
    1px  1px 1px var(--color-bg-dark), 
    inset 0 0 0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light), 
    ;
}
/* 
.button:hover{
  box-shadow:
    -1px -1px 1px var(--color-bg-dark), 
    0 0 0 4px var(--color-overlay-dark), 
    1px  1px 1px var(--color-bg-dark), 
    inset 0 0 0 var(--color-overlay-dark), 
    inset .5rem .5rem .25rem var(--color-bg-light), 
    ;
} */

.button.active{
  transform: scale(0.9);
  box-shadow:
    inset 1px 1px 1px var(--color-bg), 
    0 0 0 4px var(--color-overlay-dark), 
    inset -1px -1px 1px var(--color-bg-light), 
    inset .5rem .5rem .75rem var(--color-bg-dark), 
    inset .5rem .5rem .5rem var(--color-bg-light), 
}

.button.disabled {
  opacity: 0.6;
  cursor: auto;
}