@import '../utils.scss';

.btn-container {
    .btn-face {
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        vertical-align: middle;
    }

    &.x-op-btn.y-op-btn {
        span.x-op-name {
            text-align: left;
            width: 50%;
            margin-left: 10%;
            margin-right: auto;
        }

        span.y-op-name {
            text-align: right;
            width: 50%;
            margin: 0 12.5%;
        }
    }

    &.x-op-btn {
        font-family: "Urbanist";
        @include buttonColor('primaryXAxis');
    }

    &.y-op-btn {
        font-family: "Urbanist";
        @include buttonColor('primaryYAxis');
    }

    &.x-op-btn.y-op-btn {
        font-family: "Urbanist";
        @include buttonGradientColor('primaryXAxis', 'primaryYAxis')
    }

}