@import '../../../../theme/themes.scss';

div.graph-panel {
    width: 100%;
    height: 100%;
    padding: 0;

    svg {
        width: 100%;
        height: 100%;
        border-radius: 2vw;

        @include themify($themes) {
            background-color: themed('primaryBackground');
        }

        circle.path-crd {
            fill-opacity: 0.8;
            stroke-opacity: 0.3;

            @include themify($themes) {
                stroke: themed('primaryStroke');
                fill: themed('primaryPath');
            }
        }

        circle.hover-crd {
            fill-opacity: 0.4;
            stroke-opacity: 0.1;


            @include themify($themes) {
                stroke: themed('primaryStroke');
                fill: themed('primaryPath');
            }
        }

        circle.current-crd {
            fill-opacity: 1;

            @include themify($themes) {
                fill: themed('primaryWarning');
            }
        }

        circle.target-crd {
            fill-opacity: 0.8;
            stroke-opacity: 0.6;

            @include themify($themes) {
                stroke: themed('primaryCurrent');
                fill: transparentize($color: themed('primaryCurrent'), $amount: 0.8);
            }
        }

        .path-vector {
            stroke-dashoffset: 1000;
            stroke-opacity: 0.4;

            @include themify($themes) {
                stroke: themed('primaryStroke');
            }
        }

        .hover-vector {
            stroke-opacity: 0.4;

            @include themify($themes) {
                stroke: themed('primaryStroke');
            }
        }

        .tick line {
            stroke-dasharray: 0.2vmax;

            @include themify($themes) {
                stroke: themed('primaryGrid');
            }
        }

        line.bold-tick {
            stroke-dasharray: 0;
            stroke-width: 0.5vmin;
        }

        line.cross-axis {
            stroke-width: 0.5vmax;
            stroke-dasharray: none;
        }

        .vertical-axis line.cross-axis {
            stroke-opacity: 70%;

            @include themify($themes) {
                stroke: themed('primaryYAxis');
            }
        }

        .horizontal-axis line.cross-axis {
            stroke-opacity: 70%;

            @include themify($themes) {
                stroke: themed('primaryXAxis');
            }
        }

        text {
            font-size: 4vmin;

            @include themify($themes) {
                fill: themed('primaryText');
            }
        }

        .vertical-axis text {
            text-anchor: middle;
            font-size: 5vw;

            @include themify($themes) {
                fill: themed('secondaryText');
            }
        }

        .horizontal-axis text {
            text-anchor: end;
            font-size: 5vw;

            @include themify($themes) {
                fill: themed('secondaryText');
            }
        }
    }
}