@import '../../../theme/themes.scss';

.screen-panel {
    width: calc(97.5% - 2vw);
    height: calc(97.5% - 2vw);
    margin: 1.25%;
    border-radius: 2vw;

    @include themify($themes) {
        border: 1vw solid themed('secondaryBackground');
        background-color: themed('primaryBackground');
    }
}